<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
				
        <div class="field qty">
            <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
				<script type="text/x-magento-init">
				{
				   "*": {
                                   "Magento_Ui/js/core/app": {
                                        "components": {
                                            "qty_change": {
                                                "component": "IAGC_QuantityButtonModule/js/view/product/view/qty_change",
                                                "defaultQty": <?php echo $block->getProductDefaultQty() * 1 ?>
                                                }
                                            }
                                        }
				    }
				}
				</script>				
			
                <div class="control-qty" data-bind="scope: 'qty_change'">
<div class="btn-container">
                        <span class="btn" data-bind="click: decreaseQty">-</span>
</div>
                    <input data-bind="value: qty()" type="number" name="qty" id="qty" maxlength="12" 
                        value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                        title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                        data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" />
<div class="btn-container">
                        <span class="btn" data-bind="click: increaseQty">+</span>
</div>
                </div>
			
        </div>
        <?php endif; ?>
<?php if($_product->getFinalPrice() != '0.00') { ?>
        <div class="actions">
            <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
            <?php echo $block->getChildHtml('', true) ?>
        </div>
<?php } ?>
    </div>
</div>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
    <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php endif; ?>
